.weather-app {
  border: 1px solid #ffe05d;
  background-image: linear-gradient(to top, #ffe05d 0%, white 100%);
  max-width: 700px;
  margin: 20px auto;
  padding: 15px;
  padding-bottom: 120px;
  border-radius: 5px;
  box-shadow: 7px 7px 7px #c5b054;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

form {
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 20px;
}

.input-field {
  border: 3px solid;
  text-align: center;
  border-color: #ffe05d;
  background-color: #ffff;
  padding-left: 150px;
  padding-right: 150px;
  border-radius: 5px;
}

.search-button {
  border: 3px solid;
  text-align: center;
  border-color: #ffe05d;
  background-color: #ffe05d;
  color: #ffff;
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.search-button:hover {
  color: #ec6e4c;
  background-color: #ffece8;
}

.container-current-weather-row {
  margin-top: 40px;
}

.col-6 {
  border: 1px solid #ffe05d;
  border-radius: 5px;
  background-color: #ffe05d;
  box-shadow: 7px 7px 7px #c5b054;
  display: block;
  margin: 0px auto;
  margin-bottom: 50px;
  width: 43%;
  padding: 10px;
}
.clearfix {
  padding-left: 15px;
}

.float-left {
  float: left;
}
.snowflake {
  font-size: 100px;
  color: #fc8621;
}

#icon {
  color: #fc8621;
  font-size: 600%;
  width: 112px;
  height: 112px;
}

.current-temperature {
  font-size: 50px;
  line-height: 1;
  margin: 0px;
  color: #000;
  text-align: left;
}

ul {
  padding-left: 25px;
}

li {
  display: block;
}

.current {
  font-size: 50px;
  line-height: 1;
  color: #000;
  text-transform: capitalize;
}

.currentDate,
.weather-description {
  font-size: 20px;
}

.weather-description {
  font-size: 18px;
}

.unit {
  font-size: 30px;
}

.text-muted {
  color: #000;
}

#description {
  text-transform: capitalize;
}

.weather-unit {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -18px;
}

.icon-image {
  font-size: 300%;
  width: 112px;
  height: 112px;
}

.weather-forecast-temperature-max {
  font-size: 18px;
  font-weight: 600;
}

.weather-forecast-temperature-min {
  font-size: 15px;
  font-weight: 300;
  color: #f78869;
}

.OpenSourceLink {
  display: block;
  margin: 0 auto;
  text-align: center;
}